
/* Your CSS Code here. */
table {
            width: 100%;
            border-collapse: separate;
            font-size: 18px;
            text-align: center;
            border: 3px solid #7a0000;
        }
        th, td {
            padding: 15px;
            border: 3px solid #007308;
        }